
@{
    ViewData["Title"] = "FanSites";
}

<div class="text-center">
    <h1>Other Pages and Fan Pages</h1>
    <p>Feel free to check out these other Will Wood sites.</p>

    <!--Fan Page Links-->
    <div class="navigation">
        <a href="https://www.willwood.net/" class="btn btn-warning mr-2">Will Wood Official Website</a>
        <a href="https://www.reddit.com/r/willwood/" class="btn btn-warning mr-2">Will Wood Subreddit</a>
    </div>

</div>

