
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Sources</h1>
    <p>You can find other sources of information about Will Wood in the links below</p>

    <!--Sub-page Links-->
    <div class="navigation m-0">
        <a href="@Url.Action("FanSites", "Sources")" class="btn btn-warning mr-2">Other Fan Sites</a>
        <a href="@Url.Action("News", "Sources")" class="btn btn-warning mr-2">News</a>
    </div>

</div>
