
@{
    ViewData["Title"] = "News";
}
<div class="text-center">
    <h1>News</h1>
</div>

<p>Find out about Will's latest album and his hiatus <a href="https://preludepress.com/featured/2023/01/04/will-wood-2022-interview/">here</a></p>

<!--I really can't find much news about will wood-->