
@{
    ViewData["Title"] = "History";
}

<h1 class="text-center">The History of Will Wood</h1>

<div>
    <div>
        <h2>Will's Personal Life</h2>
        <p>Will has kept his personal life to himself for the most part, acting as characters on stage throughout his career. The thing that fans know most about his life is probably his struggles with addiction and mental illness, which he sings about in many of his songs.</p>

        <h2>Will's Early Work</h2>
        <p>Will was a keyboardist and/or vocalist in a number of bands and psuedonyms since 2010. Those bands/psuedonyms include Strange Thick, Jamface, A Verbal Equinox, The Stereosexuals, William Sunshine, Reverend-dr Sunshine, and Jimmy Mushrooms. Some of his old works can be found on Soundcloud and A Verbal Equinox can be found on Spotify.</p>

        <h2>Will's Most Popular Work</h2>
        <p>Will's band, Will Wood And The Tapeworms and his recent solo work as Will Wood made his most famous songs. The Tapeworms' first album was finished in 2015 and the band split up in 2020 due to being too small to support themselves with a music career. Will is currently on an indefinite hiatus that started after the release of his most recent live album.</p>
    </div>
</div>

