@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Will Wood</h1>

        <p>Will Wood is a music artist who has been making music for more than 11 years. He has made music in many genres, ranging from dark cabaret, to avant-pop, and even to indie punk.</p>
        <p>Look below if you want to know more about Will Wood's past and career.</p>

        <!--Sub-page Links-->
        <div class="navigation m-0">
            <a href="@Url.Action("History", "Home")" class="btn btn-warning mr-2">Will's History</a>
            <a href="@Url.Action("Stories", "Home")" class="btn btn-warning mr-2">Stories</a>
        </div>
</div>
