@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Will Wood</h1>
    <p>Will Wood is the name of my current favorite music artist. He was in a band named Will Wood and the Tapeworms until 2020, and one of my favorite songs of his is <a href="https://www.youtube.com/watch?v=ArFKspFkPOs">Memento Mori: the most important thing in the world</a>.</p>
</div>
