
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Will Wood Merchandise</h1>

    <!--Merchandise Links-->
    <div class="navigation">
        <a href="https://willwoodandthetapeworms.bigcartel.com/" class="btn btn-warning mr-2">Will Wood Official Merchandise</a>
        <a href="https://www.say-10.com/" class="btn btn-warning mr-2">Record Label Site</a>
    </div>

</div>

